<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Rating</th>
            <th>Difficulty</th>
            <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="result in vm.results">
            <td>{{result.name}}</td>
            <td>{{result.rating}}</td>
            <td>{{result.difficulty}}</td>
            <td>
                <div class="btn btn-success"><span class="glyphicon glyphicon-pencil"></span></div>
                <div class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></div>
            </td>
            <td>
                <div ng-if="result.vegetarian && !result.vegan">
                    <img src="http://images.sasongsmat.nu/vegetarianmark/vegetarian-mark.svg" alt="Vegetarian" title="Vegetarian" width="20px">
                </div>
                <div ng-if="result.vegan">
                    <img src="https://s-media-cache-ak0.pinimg.com/236x/88/7a/cd/887acda248a1db2a5878b9d6d718527a.jpg" alt="Vegan" title="Vegan" width="20px">
                </div>
            </td>
        </tr>
    </tbody>
</table>